
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin: auto;
}
.product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    columns: 4;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-container img {
    height: 120px;
}
.header-container h3{
    color: rgb(141, 141, 141);
}
