* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo span {
    color: #718daa
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

/* Fixed Login */

.fixed-login {
  width: 100%;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 20px;
  background-color:#f4f4f4;
  border: 1px solid #34495e;
}


.form-bottom {
  margin: 0 auto;
  padding: 15px;
}

.password-recovery {
  font-size: 14px;
}

.password-remember {
  padding-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 5px auto 5px auto;
}

.fixed-login .container .col {
  display: flex;
  flex-direction: column;
  align-items: left;

}

.userIcon {
  font-size: 20px;
  width: 30%;
  padding: 20px;
  border: #34495e 2px solid;
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 50%;
}

/* END Fixed Login */

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Burguer Bars */ 

.bars {
  display: none;
  margin-top: 5px;
}

.bars a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center; 
    color: #34495e;
    font-size: 1.3em
}

/* Search Input */

.search-container{
  background: #f4f4f4;
  height: 30px;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  border:  2px solid rgba(62, 62, 62, 0.8)
}

.search-container:hover > .search-input{
  width: 400px;
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container .search-btn .fas{
  color: #666;
  font-weight: 500;
  font-size: 16px;
  width: 50%
}

.search-container .search-btn {
    width: 25px;
}


.search-container:hover{
animation: 0.15s linear 3;
}

/* ================================= 
  Media Queries
==================================== */


@media (max-width: 769px) {
	.header {
		display: flex;
	}

  .main-nav {
    display: none
  }

	.header {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1150px;
	}

  .bars {
    display: block
  }

  .search-container:hover > .search-input{
    width: 30%;
  }

}

@media (min-width: 780px) {
  
  

  ul .login:hover .fixed-login {
    display: block;
  }
}