main {
    display: flex;
    flex-wrap: nowrap;
}

.product-container {
    width: 30%;
    display: flex;
    margin-top: 30px;
}

.card-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 30px;
}

/* Product CARD */

.product-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    max-width: 300px;
    margin: 20px auto;
    align-items: center;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 15px;
}

.product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin: 0 0 15px;
}

.cart-i{
    width: 20%
}

.add-to-cart-btn {
    background-color: #96a49a;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-evenly;   
    align-items: center;
}

.add-to-cart-btn:hover {
    background-color: #f57c00;
}

@media (max-width: 880px) {
    .product-container {
        width: 70%;
        display: flex;
        justify-content: center;
    }


}