:root {
    --grey-color: #7f8c8d;
}

.sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-top: 100px;
    border-right:#7f8c8d solid 1px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul li:hover {
    width:80%;
    padding-left: 20px;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
    transition-delay: all 0.5s;
    transition: all 0.5s;
    
}

.sidebar ul a {
    text-decoration: none;
}

.sidebar ul a:hover {
    cursor:pointer;
}

.sidebar ul a:after{
    content: '';
    position:absolute;
    width:80%;
    
    bottom:50%;
    left:-100%;
    
 }